
# Python Data Structures And Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean variables

- Boolean values are the two constant objects False and True.
- They are used to represent truth values (other values can also be considered false or true).
- The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value
- They are written as False and True, respectively.

In [6]:
False

False

In [7]:
print(True, False)

True False

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [42]:
my_str = "Pratik1"
print(my_str.istitle())
print(my_str.isalnum()) ## The isalnum() method returns True if all the characters are alphanumeric, 
## meaning alphabet letter (a-z) and numbers (0-9).

print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #check if all char in the string are digit
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if all characters are whitespaces
print(my_str.endswith('1')) #test if string endswith a 1
print(my_str.startswith('P')) #test if string startswith P

True
True
False
False
False
False
False
True
True

### List

- A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [58]:
## declaring list
lst = list

another_list = []

In [63]:
print(type(lst))
print(type(another_list))

<class 'list'>
<class 'list'>

In [72]:
lst = ["Python", "Java", "C++", 100, 200, 300]

In [73]:
len(lst)

6

### Append

In [74]:
lst.append("ABCD")

In [75]:
lst

['Python', 'Java', 'C++', 100, 200, 300, 'ABCD']

In [76]:
lst.append(["ABCD", "XYZW"])

In [77]:
lst

['Python', 'Java', 'C++', 100, 200, 300, 'ABCD', ['ABCD', 'XYZW']]

In [79]:
## Indexing in list

lst[7]

['ABCD', 'XYZW']

In [82]:
lst[1:7]

['Java', 'C++', 100, 200, 300, 'ABCD']

In [102]:
## Insert in specific order

lst.insert(1,"Pratik")

In [103]:
# Removes first occurence of given element from list

lst.remove("Pratik")

In [131]:
lst

[1, 2, 3, 4, 5]

In [115]:
# delete specific element from list
## del lst[0]
del lst[3]

### Extend Method

In [119]:
lst.extend(["YYYY", "ZZZZ"])

In [120]:
lst

[200, 300, 'ABCD', 'ABCD', 'XYZW', 'YYYY', 'ZZZZ']

### Various operarions we can perform on list

In [121]:
lists = [1,2,3,4,5]

In [122]:
sum(lists)

15

In [123]:
lists*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [125]:
lists.pop()

5

In [128]:
lists

[1, 3, 4]

In [127]:
lists.pop(1)

2

### count():Calculates total occurrence of given element of List

In [135]:
abcd = [1,1,2,3,4,5]

In [136]:
abcd.count(1)

2

In [139]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
abcd.index(1,1,4)

1

In [143]:
# Min and Max
min(abcd)
max(abcd)

5

## Sets

- A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [146]:
## defining the empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [147]:
set_var_1 = {1,2,3,4}

In [152]:
set_var_1

{1, 2, 3, 4, 'Hulk'}

In [151]:
## Inbuilt functions in set

set_var_1.add("Hulk")

In [175]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [184]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [169]:
## Return the intersection of two sets as a new set. (i.e. all elements that are in both sets.)
set2.intersection_update(set1)

In [183]:
set2

{'Hulk2'}

In [181]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [182]:
## Difference update

set2.difference_update(set1)

### Dictionaries

- A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [185]:
dic = dict()

In [187]:
type(dic)

dict

In [188]:
dic = {}

In [189]:
type(dic)

dict

In [193]:
dic = {1 : "ABC", 2: "CDE", 3 : "EFG"}

In [194]:
dic

{1: 'ABC', 2: 'CDE', 3: 'EFG'}

In [195]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [196]:
##Access the item values based on keys

my_dict["Car1"]

'Audi'

In [197]:
# We can even loop throught the dictionaries keys

for key in my_dict:
    print(key)

Car1
Car2
Car3

In [198]:
# We can even loop throught the dictionaries values

for value in my_dict.values():
    print(value)

Audi
BMW
Mercidies Benz

In [209]:
# We can also check both keys and values

for item in my_dict.items():
    print(item)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Suzuki')
('Car4', 'Racers')

In [208]:
## Adding items in Dictionaries

my_dict["Car4"] = "Racers"

### Nested Dictionaries

In [210]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [211]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [212]:
## Accessing the items in the dictionary

car_type["car1"]["Mercedes"]

1960

In [213]:
car_type["car1"]

{'Mercedes': 1960}

### Tuples

In [214]:
## create an empty Tuples

tple = tuple()

In [215]:
type(tple)

tuple